.logo{
    text-align: center;
    height: 45px !important;

}
.logo img{
height: 40px !important;
  }

.title{
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
    font-size: 14px;
}

.description{
    display: none;
}
